<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/main.css">

<div class="header">
  <div class="logo">Blogoholic</div>

  <div>
    <a href="/">Home</a>
    <a href="/new">Write</a>

    <form action="/search" style="display:inline;">
      <input type="text" name="q" placeholder="Search..." />
    </form>
  </div>
</div>